.nav ul {
  list-style: none;
  border: 30px solid white;
}

.nav a {
  float: right;
  margin: 0px 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  color: black;
  text-decoration: none;
}

img {
  width: 80%;
  height: auto;
  border: 2px solid black;
  margin-left: 10%;
}

body {
  font-family: cursive;
  background-color: #cfdef7;
}

h1 {
  font-family: serif;
  text-align: center;
  width: 100%;
}

h2 {
  color: #20458e;
  text-align: center;
  font-style: normal;
  margin-top: 20px;
}

@media screen and (min-width: 480px) {
  .column {
    float: left;
    width: 30%;
    margin-top: 30px;
    margin-right: 20px;
    font-style: italic;
    border: 2px solid #174ea8;
    padding: 5px;
    background-color: #d8ffe5;
  }
}

.column p {
  margin: 10px;
  text-align: justify;
}

.background-color {
  background-color: grey;
}

.text-color {
  color: white;
}

.box{
  border: solid 2px black;
}

.highlight{
  color:red;
}
